<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Autobuilders Commissions</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link rel="stylesheet" href="/css/panel.css" />
  </head>
  <body>
    <div id="panel-root" class="panel">
      <div class="loading-state">
        <div class="spinner" aria-hidden="true"></div>
        <p>Loading commission data…</p>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@pipedrive/app-extensions-sdk@1/dist/index.umd.js"
      type="text/javascript"
      crossorigin="anonymous"
    ></script>
    <script>
      window.__PANEL_BOOTSTRAP__ =
      {{{panelProps}}};
    </script>
    <script src="/js/commission-panel.js"></script>
  </body>
</html>